body{
    text-align: center;
}
#Profile{
    text-align: center;
}
.menu{
    position: fixed;
    background:white;
    width:100%;
    margin-top:0px;
    top:0px;
    z-index: 10;
}
a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px gainsboro;
}
.links{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 25px;
}
.links:hover{
    text-decoration: underline;
    font-size:35px;
}

#name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;
}
#Profile{
        background: linear-gradient(#f2a0d5 0%, #edd1e3 100%);

}
#Propic{
    width: 1000px;
    height: 600;
}
#work{
    width: 800;
    height:400;    
}
#Contact{
    background-color: lightblue;
}
#number{
    background-color: aquamarine;
}